body {
	background-color: rgba(10,200,200,0.3);
	font-family: Arial, Helvetica, sans-serif;
}

.game {
		background-color: rgba(10,200,10,0.3);
		border: 1px solid;
		border-color: rgba(10,200,10,0.5);
		margin-bottom: 10px;
		min-height: 200px;
		padding: 20px;
		cursor: pointer;
}

.game:hover {
		background-color: rgba(10,150,50,0.4);
		border-color: rgba(10,150,50,0.6);
}

.game > * {
	display: inline-block;
}

.game-img {
	float: left;
	max-width: 200px;
	max-height: 200px;
}

.game-content {
	height: 100%;
	margin-left: 10px;
}

.game-price {
	font-weight: normal;
	color: rgb(100,0,0);
	margin-left: 2px;
}

.game-details {
	margin-left: 2px;
	font-size: 12px;
}

.game-description {
	margin-left: 10px;
	padding: 10px;
	border-left: 1px dotted black;
}

.title-home {
	 background-color: #ffaf0f;
}

a {
	color: black;
}

button {
  text-align: center;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
	background-color: #ffaf0f;
  border-color: #ffaf0f;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

button:hover {
	background-color: #e69900;
	border-color: #e69900;
}

button:active {
	color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

#game {
		background-color: rgba(10,200,10,0.3);
		border: 1px solid;
		border-color: rgba(10,200,10,0.5);
		margin-bottom: 10px;
		min-height: 200px;
		padding: 20px;
		min-height: 400px;
}


#game > * {
	display: inline-block;
}

#game > .game-img {
	max-width: 400px;
	max-height: 400px;
}

#game .game-name {
	margin-left: 10px;
	font-size: 40px;
}

#game .game-price {
	margin-left: 20px;
}
